/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serifS;
}

button {
  border: none;
}

a {
  text-decoration: none;
}
/* HEADER */
.container-link {
  width: 100%;
  background-color: hsl(223deg 82% 53%);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu > a button {
  color: black;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.info > a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.first-section {
  background-image: url(/assets/jumbo.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 50%;
}

.first-section-content > h1 {
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}

.first-section-content > p {
  font-size: 27px;
  text-align: center;
  padding-bottom: 10px;
  color: white;
  line-height: 50px;
}

.box-button {
  padding-top: 50px;
}

.button {
  padding: 20px;
  border-radius: 30px;
  font-size: 25px;
}

.first-section-button-1 {
  margin-right: 100px;
}

.button > i {
  margin-right: 5px;
}

.first-section-button-2 {
  color: white;
  background-color: rgb(34, 34, 34);
}

/* HEADER */

/* MAIN */
.container-white {
  width: 100%;
  padding: 50px 20%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  align-items: flex-start;
  display: flex;
}

.box-image {
  object-fit: cover;
  height: 100%;
  width: 65%;
}

.box-text {
  height: 100%;
  width: 35%;
  font-size: 22px;
}

.box-text > h1 {
  padding-bottom: 50px;
}

.container-gray {
  width: 100%;
  padding: 50px 20%;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-section {
  padding: 100px 150px;
}

.last-section > img {
  width: 100%;
}

.last-section > .box-text {
  width: 100%;
  text-align: center;
  padding: 0 50px;
}

.last-section-button {
  margin-top: 50px;
  color: white;
  background-color: hsl(227deg 58% 65%);
}

.box-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-download > h2 {
  padding: 35px;
  background-image: url(../assets/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* MAIN */

/* FOOTER */
footer {
  width: 100%;
  background-color: #23272a;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-color: hsl(226deg 28% 43%);
}

.footer-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.footer-left {
  margin-right: 50px;
  width: 25%;
}

.footer-left > h1 {
  color: hsl(220deg 57% 57%);
  margin-bottom: 10px;
}

.ita {
  font-size: 20px;
  color: white;
}

.ita > img {
  height: 20px;
  margin-right: 5px;
}

.ita > i {
  margin-left: 5px;
  font-size: 15px;
}

.social > a i {
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.footer-col > h6 {
  font-size: 16px;
  color: hsl(220deg 57% 57%);
  margin-bottom: 20px;
}

.footer-col > a {
  color: white;
}

.footer-col > a:not(:last-child) {
  margin-bottom: 15px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-container-2 {
  border-top: 1px solid hsl(220deg 57% 57%);
  margin-top: 50px;
  width: 60%;
  padding-top: 20px;
  background-color: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content-2 {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-content-2 > img {
  padding-top: 0;
}

.footer-content-2 > button {
  padding: 10px;
  background-color: hsl(227deg 58% 65%);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
