/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serifS;
}
/* HEADER */
.container-link {
  width: 100%;
  background-color: hsl(223deg 82% 53%);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu > a button {
  color: black;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.info > a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.container-header {
  background-image: url(/assets/jumbo.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-pink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 50%;
  border: 1px dashed black;
}

.header-pink > h1 {
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}

.header-pink > p {
  padding-bottom: 10px;
  color: white;
}

.box-button {
  padding-bottom: 200px;
}

/* HEADER */

/* MAIN */
.container-white {
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box1 {
  height: 450px;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.box-1-1 {
  height: 100%;
  width: 65%;
  background-color: #1e90ff;
  border: 1px dashed black;
}

.box-1-2 {
  height: 100%;
  width: 35%;
  background-color: #ffc0cb;
  border: 1px dashed black;
}

.container-gray {
  height: 500px;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box2 {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.box-2-1 {
  height: 100%;
  width: 35%;
  background-color: #ffc0cb;
  border: 1px dashed black;
}

.box-2-2 {
  height: 100%;
  width: 65%;
  background-color: #1e90ff;
  border: 1px dashed black;
}

.container-gray2 {
  width: 100%;
  background-color: #d3d3d3;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-green {
  height: 600px;
  width: 70%;
  background-color: #228b22;
  border: 1px dashed black;
}
/* MAIN */

/* FOOTER */
.container-black {
  width: 100%;
  background-color: #23272a;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-color: hsl(226deg 28% 43%);
}

.container-box-foot {
  width: 70%;
  display: flex;
  flex-direction: row;
}

.box-foot-1 {
  width: 25%;
  background-color: #f08080;
  border: 1px dashed black;
}

.box-foot-2 {
  height: 400px;
  width: 18%;
  background-color: #20b2aa;
  border: 1px dashed white;
}

.container-black-2 {
  width: 100%;
  padding-top: 20px;
  background-color: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-foot-end {
  width: 60%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.box-foot-end > img {
  padding-top: 0;
}

.box-foot-end > a button {
  padding: 10px;
  background-color: hsl(227deg 58% 65%);
  color: white;
  border-radius: 20px;
  border: none;
}
